block title
  title Article!

block content
  div
    header Edit Article
    each val, key in article
      label #{key}
      input(type='text' name=key value='#{val}')
      br
      input#method(type="hidden", value="PUT")
      input#xhrUrl(type="hidden", value="http://localhost:8080/articles/#{article.urlTitle}")
    button(id="submitBtn") Submit
  script(src="/client.articles.js")