block title
  title Article!

block content
  header New Article
  form(method='POST', action="/articles/"+article.title enctype="application/x-www-form-urlencoded")
    each val, key in article
      label(for='') #{key}
      input(type="hidden" name="_method" value="PUT")
      input(type='text' name=key value='#{val}')
      br
    button.btn.btn-success(type='submit') Submit