block title
  title New Article

block content
  header New Article
  form
    label Article Title
    input(type='text' name="title" placeholder="Article Title")
    br
    label Body
    input(type='textarea' name="body" placeholder="Article Body")
    br
    label Author
    input(type='text' name="author" placeholder="Article Author")
    br
    input#method(type="hidden" value="POST")
    input#xhrUrl(type="hidden", value="http://localhost:8080/articles/")
    button(id="submitBtn") Submit
  script(src="/client.articles.js")