block title
  title Product

block content
  div
    header Edit Product
    each val, key in product
      label #{key}
      input(type='text' name=key value='#{val}')
      br
      input#method(type="hidden", value="PUT")
      input#xhrUrl(type="hidden", value="http://localhost:8080/products/#{product.id}")
    button(id="submitBtn") Submit
  script(src="/client.products.js")

