block title
  title Product

block content
  div
    header Edit Product
    label Name
    input(type='text' name='name' value='#{article.name}')
    br
    label Price
    input(type='text' name='price' value='#{article.price}')
    br
    label Inventory
    input(type='text' name='inventory' value='#{article.inventory}')
    br
    input#method(type="hidden", value="PUT")
    input#xhrUrl(type="hidden", value="http://localhost:8080/products/#{product.id}")
    button(id="submitBtn") Submit
  script(src="/client.products.js")

