block title
  title Products!

block content
  each product in products
    div
      h2='Product Name: '+product.name
      h3='Item Number: '+product.id
      p='Price: $'+product.price
      p='Quantity: '+product.inventory

