block title
  title New Product

block content
  header New Product
  form
    label Product Title
    input(type='text' name="name" placeholder="Product Title")
    br
    label Price
    input(type='textarea' name="price" placeholder="Price")
    br
    label Quantity
    input(type='text' name="inventory" placeholder="Quantity On Hand")
    br
    input#method(type="hidden" value="POST")
    input#xhrUrl(type="hidden", value="http://localhost:8080/products/")
    button(id="submitBtn") Submit
  script(src="/client.products.js")